*.o
obj
build/

src/pgetty/pgetty
src/pinit/pinit

src/bash/*
!src/bash/build_static.sh
src/shadow/*

virtual_machine/disk.raw
virtual_machine/disk
src/plogin/plogin

# fetched by ./download.sh from wget-list-sysv
sources/
src/systemd-257.8/
src/systemd-257.8.tar.gz
